# Application
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=secret
DB_NAME=userdb
MONGO_URI=mongodb://admin:secret@localhost:27017/notifications?authSource=admin

# JWT
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your-refresh-secret-key-here
JWT_REFRESH_EXPIRES_IN=7d

# Redis
REDIS_PASSWORD=redis123
REDIS_PORT=6379
REDIS_URL=redis://:redis123@localhost:6379

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID_USER_SERVICE=user-service
KAFKA_CLIENT_ID_NOTIFICATION_SERVICE=notification-service
KAFKA_CONSUMER_GROUP_NOTIFICATION=notification-service-consumer

